{% extends 'base.html' %}

          {% block content %}
                <section>
                    <h2>Acesse nossas redes sociais!</h2>

                    <p>Estamos online a todo o momento para qualquer caso de duvida</p>

                </section>

               <footer>
                   <a href="https://www.instagram.com/" target="_blank" rel="noopener noreferrer">
                       <img src="http://127.0.0.1:5000/static/instagram_adobe_express.svg">
                       <p>Instagram</p>
                   </a>
                   <a href="https://www.facebook.com/" target="_blank" rel="noopener noreferrer">
                       <img src="http://127.0.0.1:5000/static/facebook_adobe_express.svg">
                       <p>Facebook</p>
                   </a>
                   <a href="https://www.tiktok.com/" target="_blank" rel="noopener noreferrer">
                       <img src="http://127.0.0.1:5000/static/github_adobe_express.svg">
                       <p>Github</p>
                   </a>

               </footer>
           {% endblock %}