{% extends 'base.html' %}

          {% block content %}
           <main>
               <section>
                   <br>
                   <h2> Horarios para reservas</h2>
                   <p>Fazemos agendamento de horarios de segunda a sexta até 16:00 e Sabado e Domingo até as 14:00, a razão para a rigidez de horario é por conta
                      de nossa agenda lotada, é necessario saber com antecedencia, é possivel também que pela agenda cheia não ser possivel agendamento
                      para o dia solicitado.</p>
               </section>
               <br>
               <br>
               <section>
                   <br>
                   <h2> Reserva de salas exclusivas</h2>
                   <p>Para o agendamento de salas exclusivas pedimos que seja feita com pelo menos uma semana de antecedencia</p>
               </section>
           </main>
           {% endblock %}