{% extends 'base.html' %}

          {% block content %}
           <main>
               <section>
                   <br>
                   <h2> Sobre o Restaurante</h2>
                   <p>O Nuovo Vesuvio nasceu em 1999, idealizado pelo renomeado e conhecido chefe de cozinha de Nova Jersey: Arthur "Artie" Bucco, Jr.
                       Apos um incidente com o antigo restaurante com o mesmo nome Vesuvio, um grupo de amigos de Artie de varios setores do mundo empresarial
                       o incentivaram e ajudaram a conseguir fundos para a reconstrução do restaurante, a ideia era recomeçar do zero o restaurante para que
                       pudesse entregar o melhor da cozinha italiana, desde a sua inauguração, já virou o novo point numero um para encontro de pessoas importantes de
                       toda a comunidade de Nova jersey e Nova York, desde artistas locais até politicos de todo a região.</p>
               </section>
               <br>
               <section>
                   <br>
                   <h2> Gastronomia Italiana</h2>
                   <p>A nossa especialidade é o melhor da cozinha Italiana, desde spaghetti com ameijoas até a mais tradicional zuppa maritata, servimos também pratos
                       italo americanos como o nosso já conhecido Cioppino e entre outros, nosso objetivo é que você tenha a melhor experiencia possivel.</p>
               </section>
               <br>
               <section>
                   <br>
                   <h2> O espaço do restaurante</h2>
                   <p>O Nuovo Vesuvio possui duas hostess para atendimento a qualquer momento, agora temos também um BAR com uma variedade de bebidas para todos os gostos, possuimos também
                       amplo espaço para qualquer ocasião e possuimos salas exclusivas para eventos empresariais, o ambiente do nosso restaurante é absolutamente familiar e
                   discreto, com jazz ao vivo e uma da seleção de vinhos das melhores vinicolas do norte da Italia e do sul da frança.</p>
               </section>
               <br>
               <main>
                   <h2> Galeria de fotos</h2>
                  <div class="gallery-container">

                      <a href="http://127.0.0.1:5000/static/restaurante1.jpg" class="gallery-items">
                        <img src="http://127.0.0.1:5000/static/restaurante1.jpg" title="Clientes de alto nivel" alt= restaurante">
                      </a><br>
                       <a href="http://127.0.0.1:5000/static/restaurante2.jpg" class="gallery-items">
                         <img src="http://127.0.0.1:5000/static/restaurante2.jpg" title="conforto" alt="conforto">
                       </a><br>
                       <a href="http://127.0.0.1:5000/static/restaurante3.jpg" class="gallery-items">
                         <img src="http://127.0.0.1:5000/static/restaurante3.jpg" title="Bar" alt="Bar">
                       </a><br>
                       <a href="http://127.0.0.1:5000/static/restaurante4.jpg" class="gallery-items">
                         <img src="http://127.0.0.1:5000/static/restaurante4.jpg" title="espaços exclusivos e refinados" alt="espaço exclusivos e refinados">
                       </a><br>
                       <a href="http://127.0.0.1:5000/static/restaurante5.jpg" class="gallery-items">
                         <img src="http://127.0.0.1:5000/static/restaurante5.jpg" title="Cozinha espaçosa e de alto padrão" alt="cozinha">
                       </a><br>
                       <a href="http://127.0.0.1:5000/static/restaurante6.jpg" class="gallery-items">
                         <img src="http://127.0.0.1:5000/static/restaurante6.jpg" title="Pratos Tradicionais da cozinha italiana" alt="Pratos tradicionais">
                       </a><br>
                       <a href="http://127.0.0.1:5000/static/restaurante7.jpg" class="gallery-items">
                         <img src="http://127.0.0.1:5000/static/restaurante7.jpg" title="Higiene e organização na hora de preparar seu prato"alt="cozinha">
                       </a><br>
                  </div>
              </main>
           </main>
           {% endblock %}